html,body{
margin: 0;
padding: 0;
}
.image{
    height: auto;
    width: auto;
    background-color:#800000;
}
hr.new5 {
    border: 2px dotted #800000;
    width: 20%;
}
.img{
    width: 250px;
    height: 250px;
    position: absolute;
    top: 15%;
    right: 15%;
    border: 2px #65da06 solid;
    border-radius:20% 0 ;
}
.content {
    padding:130px 15px;
    color: white;
    font-size: 70px;
    font-weight: 700;
}
.content h1{
    margin-bottom: -30px;
}
.whatsapp{
    height: 80px;
    width: 80px;
}
.whatsapp:hover{
    height: 110px;
    width: 110px;
    transition: cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.wabutton a{
    position: absolute;
    left: 2%;
    top: 48%;
 
}
.wbutton{
    height: 100px;
    width: 100px;
}
.wbutton:hover{
    height: 120px;
    width: 120px;
}
/* Begin Media Queries*/

@media screen and (max-width: 569px) {

    .image{
        height: 80vh;
        width: auto;
        background-color:#800000;
    }
    .img{
        position : absolute;
        top: 20px;
        left: 30%;
        height: 150px;
        width: 150px;
    }
    .content {
        font-size: 40px;
        position: absolute;
        left: 60%;
        top: 56%;
        transform: translate(-60%,-50%);
    }
    .wabutton{
            position: absolute;
            left: 35%;
            top: 87%;
    }
    .second{
        position: absolute;
        top: 120%;
    }

}

@media screen and (max-width: 319px) {

    .image{
        height: 80vh;
        width: auto;
    }
    .content {
        font-size: 36px;
        position: relative;
        left: 70%;
        top: 50%;
        transform: translate(-60%,-50%);
    }
    .wabutton{
        position: relative;
        top: -50px;
    }
}
